html {
    background: white;
    background-attachment: scroll;
    background-size: cover;
}

body {
    font-size: 1em;
    line-height: 1.75em;
}

.blue {
    background-image: url("lightblue.jpg");
}

.gold {
    background-image: url("lightgold.jpg");
    }

main{
    max-width: 60%;
    margin: 0 auto;
    padding: 0 1rem;
}

h1, h2{
    text-align: center;
}

p {
    font-size: 1.2em;
}

button:hover {cursor: pointer;}

button {
    font-size: 1.6rem;
    display: block;
    padding: .5em;
    border-radius: 60%;
    outline: none;
}

.button {
    display: flex;
    justify-content: space-evenly; 
}