body {
    background: white url(images/back.jpg) no-repeat center bottom fixed;
    background-size: cover;
    color:  #1D036B;
    font-family:Book Antiqua;
      }
h1 {
    color: #1D036B;
    text-align: center;
    font-size: 3.0em;
}   

h2 {
    text-align: center;
    font-size: 2.0em;
}

.content{
    background-color: hsla(255, 7%, 89%, 0.8);
}