
@import 'https://fonts.googleapis.com/css?family=Montserrat|Open+Sans';
/* @import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap'); */

body{
    color: #fff;
    background-color:#c2bd95;
    padding-top: 70px; 
    /* font-family: 'Kiwi Maru', serif; */
}

.my-dark{
    color: rgb(32, 25, 11);
}
.bg-nav {
  background: rgb(173,160,140);
  background: linear-gradient(90deg, rgb(151, 133, 106) 0%, rgba(143,125,81,1) 29%, rgba(99,86,50,1) 51%, rgba(69,53,9,1) 89%);
  font-family: 'Montserrat', sans-serif;  

  

}
.bg-center{
  text-align: center;  
  font-family: 'Montserrat', sans-serif;
}


.logo{
    color: #fff;
    font-weight: 600;
    font-size: 30px;
    /* font-family: 'Montserrat', sans-serif; */
}


.nav-item-modified{
    font-size: 20px;
    font-weight: 600;
}

.nav-link-custom{
    color: white !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.active-custom a{
    color: #ffc107 !important;
}
.location .cart{
    font-size: 25px;
}
.max-width{
    max-width: 1300px;
    /* padding: 0 40px; */
    margin: auto;
    padding-left: 10px;
}
.home{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-bottom: 50px;
    color: rgb(32, 25, 11);
}

.homeImage{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    width: 90%;
}


.order-button{
    color: #fff;
    background-color:  rgba(69,53,9,1);
    padding: 8px;
    margin: 0 60px 20px 60px ;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home .max-width .order-button a {
    text-decoration: none;
    color: #fff;
}
.home .max-width .order-button a:hover {
    text-decoration: none;
    color: #ffc107;
    cursor: pointer;

}



.hours{
    text-align: center;  
    margin-top: 20px;
}

.bold{
    font-size: 20px;
    font-weight: bold;
}

/* Specials content styling */

.specials{
    overflow: auto;
    /* display: fixed; */
    /* display: absolute; */
    /* height: 120vh; */
    align-items: center;
    color: rgb(32, 25, 11)
}

.specials h2{
    text-align: center;
    margin-bottom: 20px;
}


.specials .specials-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    justify-content: space-between;
}
.specials .max-width{
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
}

.specials .specials-content .specials-card{
    
    width: calc(33% - 10px);
    text-align: center;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 6px;
    transition: all 0.3 ease;
    background-color:#c2bd95;
}

.specials .specials-content .specials-card:hover{
    background-color: rgba(143,125,81,1);
    color: #fff;
}
.specials .specials-content .specials-card .box {
    transition: all 0.3 ease;
}

.specials .specials-content .specials-card:hover .box{
    transition: scale(1.05);
}
.specials .specials-content .specials-card .text{
    font-size: 18px;
}

.events h2{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

/* .order {
    margin-left: 50px;
    margin-right: 30px;
}
.order, .signin, .register {
background-color: #c2bd95;
text-align: center;
padding: 8px;
}
.signin, .register{
    margin-right: 7px;
} */

.text{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
}
.footer{
 background: rgb(173,160,140);
 background: linear-gradient(90deg, rgb(151, 133, 106) 0%, rgba(143,125,81,1) 29%, rgba(99,86,50,1) 51%, rgba(69,53,9,1) 89%);
}
.custom-links a{
    text-decoration: none;
}

a {
    color: #ffc107;
    text-decoration: none;
}

a:hover 
{
     color: rgb(32, 25, 11); 
     text-decoration:none; 
     cursor:pointer;  
}
hr{
    background-color: white !important;
}

/* toTop button */
#toTop {
    padding: 9px 9px;
    background: rgb(32, 25, 11);
    color: #fff;
    position: fixed;
    bottom: 10px;
    right: 5px;
    display: none;
    border-radius: 30px;
}

/* responsive media query start */
@media (min-width: 991px){
    .order {
        margin-left: 50px;
        margin-right: 30px;
    }
    .order, .signin, .register {
    background-color: #c2bd95;
    text-align: center;
    padding: 8px;
    }
    .signin, .register{
        margin-right: 7px;
    }
}

@media (max-width: 947px){

    .specials .specials-content .specials-card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .text{
        display: flex;
        justify-content: space-between;
        font-size: 30px;
        font-weight: 500;
    }
}

@media (max-width: 690px){
    .specials .specials-content .specials-card{
        width: 100%;
    }

}
@media (max-width: 425px){
    .specials .max-width{
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 10px;
    } 
}
